<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-light ">
      <h6 class="display-9 navbar-text">&copy; Designed by Jayesh. Copyright 2021. All Rights reserved.</h6>
    </nav>
  </footer>