<%- include header.ejs %>

    <%- include main_nav.ejs %>


        <style>
            body {
                background-image: url('Assets/images/background.jpg');
                background-size: cover;
            }
        </style>
      
        <h1><img src="Assets/images/jayesh.png" align="right" width="400" height="300"></h1>

        <div class="aboutHead" text-center>
            <h1>About Me </h1>
        </div>

        <section id="about" class="s-about target-section">


            <div class="row narrow section-intro has-bottom-sep">
                <div class="col-full text-center">
                    <p class="lead" style="font-size:25px">&#8287 &#8287 &#8287 &#8287 &#8287 &#8287 I am Jayesh Dilip
                        Amodkar, Certified AWS
                        Cloud Practitioner & <br> a Microsoft Certified Professional </p><br>
                </div>
            </div>

            <div class="row about-content">

                <div class="col-six tab-full left">
                    <h3>Hello!</h3>

                    <p style="font-size:18px;font-family:verdana">I am a Software Engineering graduate pursuing
                        Artificial Intelligence Fastrack course at
                        Centennial College. </p>

                    <p style="font-size:18px;font-family:verdana">
                        I am more of an indoor person and I do enjoy programming. Graduated in 2018 with 7.9 CGPA and
                        started working as a full time Java Developer in multinational company and later moved into some
                        full stack technologies and cloud like Angular, Spring Boot, Kafka, AWS(RDS, ec2, S3) etc. Apart
                        from studies, I love playing online games and working out is my hobby. Also, I like
                        designing 3D models using Blender tool. </p>
                </div>

                <div class="col-six tab-full right">
                    <div class="workHead tab-full right">
                        <h1>&#8287&#8287&#8287&#8287Work Experience</h1><br>
                    </div>

                    <section id="about" class="s-about target-section">
                        <div class="row about-content about-content--timeline">
                            <div class="timeline">
                                <div class="timeline__block">
                                    <div class="timeline__bullet"></div>
                                    <div class="timeline__header">
                                        <p class="timeline__timeframe">Jun 2021 - Sep 2021</p>
                                        <h3>Cognizant</h3>
                                        <h5>-Full Stack Developer</h5>
                                    </div>
                                    <div class="timeline__desc">
                                    </div>
                                </div>
                                <div class="timeline__block">
                                    <div class="timeline__bullet"></div>
                                    <div class="timeline__header">
                                        <p class="timeline__timeframe">Jun 2018 - May 2021</p>
                                        <h3>Atos Syntel</h3>
                                        <h5>-Java Developer</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div> <!-- end about-content -->

            <div class="row about-content about-content--buttons">

                <div class="col-six tab-full left">
                    <a href="https://drive.google.com/file/d/1ESE6y4kma9mxZICQ6j_amJT2wuJSGLqk/view?usp=sharing"
                        class="btn btn--primary full-width">Download My CV</a>
                </div>
                <div class="col-six tab-full right">
                    <a href="mailto:jayeshdamodkar@gmail.com?Subject=Job%20Opportunity" class="btn full-width">Hire Me
                        Now</a>
                </div>

            </div> <!-- end about-content buttons -->



        </section> <!-- end about -->

        <%- include bottom_nav.ejs %>

            <%- include footer.ejs %>