<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
  <link rel='stylesheet' href='/Content/contact.css' />
  <link rel='stylesheet' href='/Content/homePg.css' />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-toggler navbar-light ">
    <a href="http://localhost:3000/home">
      <img alt="Logo" src="Assets/images/logo.png" width="120" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title=="Home" ){ %>
          <li class="nav-item active">
            <% } else { %>
          <li class="nav-item">
            <% } %>
              <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
          </li>

          <% if (title=="About" ) { %>
            <li class="nav-item active">
              <% } else { %>
            <li class="nav-item">
              <% } %>
                <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About </a>
            </li>

            <% if (title=="Products" ) { %>
              <li class="nav-item active">
                <% } else { %>
              <li class="nav-item">
                <% } %>
                  <a class="nav-link" href="/projects"><i class="fab fa-elementor"></i> Projects </a>
              </li>

              <% if (title=="Services" ) { %>
                <li class="nav-item active">
                  <% } else { %>
                <li class="nav-item">
                  <% } %>
                    <a class="nav-link" href="/services"><i class="fas fa-cogs"></i> Services </a>
                </li>

                <% if (title=="Contact" ) { %>
                  <li class="nav-item active">
                    <% } else { %>
                  <li class="nav-item">
                    <% } %>
                      <a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact </a>
                  </li>
    </div>
  </nav>
  </div>
</body>
<blockquote class="blockquote text-center">
    <p class="mb-0">"The only thing we know about the future is that it will be different"</p>
    <footer class="blockquote-footer">Peter Drucker </footer>
  </blockquote>
  
<style>
  body {
    background-image: url('Assets/images/home.jpg');
    background-size: cover;
  }
</style>

<footer>
  <nav class="navbar fixed-bottom navbar-dark ">
    <h6 class="display-6 navbar-text">&copy; Copyright 2021. All Rights reserved.</h6>
  </nav>
</footer>
<p class="header">
    <span>Hello!! </span><br>
	<span>&#8287 &#8287  I</span>
	<span>Am</span>
	<span>Jayesh</span><br>
	<span>&#8287 &#8287  &#8287 &#8287 &#8287Welcome</span>
	<span>to</span>
	<span>my</span>
	<span>Portfolio</span> 
    
</p>
</html>