<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>
    <style>
      body {
        background-image: url('Assets/images/background.jpg');
        background-size: cover;
      }
    </style>
    <!-- contact form  -->
    <div class="form-style-5">
      <form>
        <fieldset>
          <legend><span class="number">1</span> Contact Form</legend>
          <input type="text" name="field1" placeholder="Your Name *">
          <input type="email" name="field2" placeholder="Your Email *">
          <textarea name="field3" placeholder="About yourself"></textarea>
          <input type="submit" value="Submit" formaction="https://jayeshamodkar-portfolioapp.herokuapp.com/" onclick="clicked(event)">
      </form>
    </div>
 <!-- social mdeia icons  -->
    <div class="socialmedia">
    <ul class="social-menu">
      <span></span><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
      <a href="https://in.linkedin.com/in/jayesh-amodkar"><i class="fab fa-linkedin"></i></a>
      <a href="https://twitter.com/amodkarjayesh"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
    </ul>
  </div>

    <%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
