<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

  
  <!-- Main Content -->
    <blockquote class="blockquote text-center">
      <br>
      <p class="mb-0">"The only thing we know about the future is that it will be different"</p><br>
      <footer class="blockquote-footer">Peter Drucker </footer>
    </blockquote>

  <!-- Home Page image -->
    <style>
      body {
        background-image: url('Assets/images/home.jpg');
        background-size: cover;
      }
    </style>

    <p class="header">
      <span>Hello!! </span><br>
      <span>&#8287 &#8287 I</span>
      <span>Am</span>
      <span>Jayesh</span><br>
      <span>&#8287 &#8287 &#8287 &#8287 &#8287Welcome</span>
      <span>to</span>
      <span>my</span>
      <span>Portfolio</span>
    </p>

    </html>
    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>